{
  "server": {
    "port": 8080,
    "webhook_path": "/webhook"
  },
  "simplybook": {
    "company_login": "your-simplybook-company-login",
    "user_name": "your-simplybook-user_name",
    "password": "your-simplybook-password"
  },
  "google_calendar": {
    "credentials_file": "./google-credentials.json",
    "calendar_id": "your-calendar-id@group.calendar.google.com"
  }
} 